*{
    margin: 0;
    padding: 0;
}

header{
    height: 100px;
    background-color: black;
}


.flex{
    width: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

