*{
    margin: 0;
    padding: 0;
}

header{
    height: 100px;
    background-color: black;
    width: auto;
}


.flex{
    width: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.width-prods{
    width: 30vw;
    overflow: hidden;
}

.max-width{
    width: 100vw;
}
